<template>
  <div class="popup">

    <div v-for="item in [1,2,3,4]" class="notification">
      Ticket was not added
      Try again
    </div>
  </div>
</template>

<script>
export default {
  name: "AddTicketSuccessPopup"
}
</script>

<style scoped lang="scss">
.popup {
  //border: 1px solid black;
  position: absolute;
  //background: peachpuff;
  width: 200px;
  height: calc(100% - 20px);

  top: 0;
  left: calc(94% - 100px);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 20px;
  & .notification {
    min-height: 30px;
    background: #232323;
    font-family: system-ui sans-serif;
    padding: 10px 15px;
    color: #EEEEEE;
    border-radius: 5px;
    //box-shadow: 1px 1px 0 2px #1cd51c;
  }
}
</style>