<template>
  <section v-if="hide">
    <div class="flex">
      <div class="max-w-xs">
        {{ticker}}
        <input-field  @keyup.enter="addFromInput" @input="onInput"  v-model:ticker="ticker"/>
        {{filteredCoins}}
        <placeholders-field :placeholders="filteredCoins" :onClick="addTicketOnPlaceholder" :isAnyHints="isAnyHints"/>
        <error-field :title="errorTitle"/>
      </div>
    </div>
    <add-ticket-button @click="addFromInput"/>
  </section>
</template>

<script>
import AddTicketButton from "./AddTicketButton.vue"
import ErrorField from "./ErrorField.vue";
import PlaceholdersField from "./PlaceholdersField.vue";
import InputField from "./InputField.vue";

export default {
  name: "AddTicketBox",
  components: {
    "add-ticket-button": AddTicketButton,
    "error-field": ErrorField,
    "placeholders-field": PlaceholdersField,
    "input-field": InputField,
  },
  props: {
    allCoinsKeys: {
      required: true,
      type: Array,
      default: []
    },
    tickets: {
      required: true,
      type: Array,
      default: []
    },
    checkIsTwoStrIsEqual: {
      required: true,
      type: Function,
      default: () => {
      }
    },
    hide: {
      required: true,
      type: Boolean,
      default: false
    }
  },
  emits: {
    addTicket: (currentTicket) => currentTicket.name !== ""
  },
  data() {
    return {
      ticker: "",
      errorTitle: "",
      countOfPlaceholderCoins: 4,
      filteredCoins: [],

    }
  },
  methods: {
    /**
     * Sender emits
     */
    senderAddTicket(currentTicket) {
      currentTicket.name = currentTicket.name.toUpperCase()
      this.$emit('addTicket', currentTicket)
      this.clearTicker()
    },

    clearErrorTitle() {
      this.errorTitle = ""
    },
    clearTicker() {
      this.ticker = ""
    },


    placeholderCoinsSearchMethod(coin) {
      const oneCheck = coin.toLowerCase().includes(this.ticker.toLowerCase())
      const secondCheck = this.ticker
      return oneCheck && secondCheck
    },
    checkTickerDuplicated(ticker) {
      let flag = this.tickets.some(ticket => this.checkIsTwoStrIsEqual(ticket.name, ticker))
      return flag
    },
    checkIsTickerValid() {
      const isTickerValid = this.allCoinsKeys.every(coinKey => !this.checkIsTwoStrIsEqual(coinKey, this.ticker))
      return isTickerValid
    },
    onInput() {
      this.clearErrorTitle()
      const allPlaceholderCoins = this.allCoinsKeys.filter(coin => this.placeholderCoinsSearchMethod(coin))
      this.filteredCoins = allPlaceholderCoins.slice(0, this.countOfPlaceholderCoins)
    },
    //TODO Разбить на под функции
    addTicketOnPlaceholder(ticketName) {
      this.ticker = ticketName
      if (this.checkTickerDuplicated(ticketName)) {
        this.errorTitle = `${this.ticker.toUpperCase()} yже добавлен`
        return
      }
      this.errorTitle = ""
      const currentTicket = {
        name: ticketName,
        price: '-'
      }
      this.senderAddTicket(currentTicket)
    },
    addFromInput() {
      if (this.checkTickerDuplicated(this.ticker)) {
        return
      }
      if (this.checkIsTickerValid()) {
        this.errorTitle = `Тикета ${this.ticker.toUpperCase()} не существует`
        return
      }
      const currentTicket = {
        name: this.ticker,
        price: '-'
      }
      this.senderAddTicket(currentTicket)

    },
  },
  computed: {
    isAnyHints(){
      return !!(this.filteredCoins.length && this.ticker)
    }
  }
}
</script>

<style scoped>

</style>