<template>
  <div class="text-sm text-red-600">{{ title }}</div>
</template>

<script>
export default {
  name: "ErrorField",
  props:{
    title:{
      required: true,
      type: String,
      default: ""
    }
  }
}
</script>

<style scoped>

</style>