<template>
  <label for="wallet" class="block text-sm font-medium text-gray-700">
    Добавить
  </label>
  <div class="mt-1 relative rounded-md shadow-md">
    <input
        autocomplete="off"
        type="text"
        name="wallet"
        @input="updateValue"
        id="wallet"
        class="block w-full pr-10 border-gray-300 text-gray-900 focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm rounded-md"
        placeholder="Например DOGE"
    />
  </div>
</template>

<script>
export default {
  name: "InputField",
  emits: {
    'update:ticker': (ticker) => typeof ticker === 'string' && ticker !== ""
  },
  methods: {
    updateValue(e) {
      this.$emit("update:ticker", e.target.value)
    }
  }
  // props: {
  //   placeholders: {
  //     required: true,
  //     type: Array,
  //     default: []
  //   },
  //   onClick: {
  //     required: true,
  //     type: Function,
  //     default: () => {}
  //   },
  //   isAnyHints: {
  //     required: true,
  //     type: Boolean,
  //     default: false
  //   }
  // }
}
</script>

<style scoped>

</style>