<template>
  {{placeholders}}
  <div v-if="isAnyHints" class="flex bg-white shadow-md p-1 rounded-md shadow-md flex-wrap">
      <span v-for="placeholder in placeholders" @click="onClick(placeholder)"
            class="inline-flex items-center px-2 m-1 rounded-md text-xs font-medium bg-gray-300 text-gray-800 cursor-pointer">
        {{ placeholder }}
      </span>
  </div>
</template>

<script>
export default {
  name: "PlaceholdersField",
  props: {
    placeholders: {
      required: true,
      type: Array,
      default: []
    },
    onClick: {
      required: true,
      type: Function,
      default: () => {}
    },
    isAnyHints: {
      required: true,
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped>

</style>