<template>
  <div class="container mx-auto flex flex-col items-center bg-gray-100 p-4">
    <!--    <loader></loader>-->

    <div class="container" ref="container">
      <add-ticket :checkIsTwoStrIsEqual="checkIsTwoStrIsEqual"
                      :allCoinsKeys="allCoinsKeys"
                      :tickets="tickets" @addTicket="addTicket"
                      :hide="isThisOriginalPage"
      />
      <hr class="w-full border-t border-gray-600 my-4"/>
      <filter-controller @changeFilter="handleChangeFilter"
                     @incrementPage="handleIncrementPage"
                     @decrementPage="handleDecrementPage"
                     :maxPage="maxPage" :page="page"
                     :filter="filter"/>
      <hr class="w-full border-t border-gray-600 my-4"/>
      <coins @selectTicket="handleSelectTicket" @deleteTicket="handleDeleteTicket"
             :tickets="filter ? filteredTickets : ticketsPageStore[page]"
             :selectedTicket="selectedTicket" :errorTickets="errorSubTickets"
             :hide="isThisOriginalPage"
      />
      <hr class="w-full border-t border-gray-600 my-4"/>
      <graphic @closeSelectedTicket="handleCloseSelectedTicket"
               :graph="normalizedGraph" :selectedTicket="selectedTicket"
      />
    </div>
  </div>
</template>

<script>

import {loadAllItems} from "./api/apiLoad.js"
import {subscribeTicket, unsubscribeTicket} from "./api/apiEvents"

import NotificationBox from "./NotificationsBox/NotificationBox.vue";
import AddTicket from "./AddTicket/AddTicket.vue";
import FilterController from "./Interface/FilterController.vue";
import Coins from "./Coins/Coins.vue";
import Graphic from "./Graphic/Graphic.vue";
import Loader from "./Loader/Loader.vue";
import {getFromLocal, saveToLocal} from "./api/apiLocal";
import {getFromQuery} from "./api/apiRouter";
import {worker} from "./api/apiWorker.js";

export default {
  name: "App",
  components: {
    'filter-controller': FilterController,
    'notification-box': NotificationBox,
    'coins': Coins,
    'add-ticket': AddTicket,
    'graphic': Graphic,
    'loader': Loader,
  },
  created() {
    worker.port.onmessage = (e) => {
      if (e.data.original === Boolean()) {
        if (e.data.original === true) {
          this.isThisOriginalPage = true
        } else {
          this.isThisOriginalPage = false
        }
      } else {
        if (this.isThisOriginalPage === false) {
          this.tickets = [...JSON.parse(e.data.tickets)]
        }
      }
    }
    worker.port.start();


    const VALID_KEYS = ["filter", "page"]
    getFromQuery(this, VALID_KEYS)

    const ticketsFromLocStorage = getFromLocal()
    const parsedTicketsFromLocStorage = JSON.parse(ticketsFromLocStorage)


    if (ticketsFromLocStorage) {
      this.tickets = parsedTicketsFromLocStorage
      this.filteredCoins = parsedTicketsFromLocStorage

      this.tickets.forEach(ticket => {
        subscribeTicket(ticket.name, this.updateTicket, this.subError)
      })
      subscribeTicket("BTC", this.updateTicket)
    }
    worker.port.postMessage({flag: "start", tickets: JSON.stringify([...this.tickets])});

    loadAllItems(this)
  },
  mounted() {
    window.addEventListener("resize", this.onResize)
  },
  unmounted() {
    window.removeEventListener("resize", this.onResize)
  },
  data() {
    return {
      isThisOriginalPage: true,

      filter: "",
      selectedTicket: null,
      allCoins: {},
      tickets: [],
      page: 1,
      countOfCoinsOnPage: 6,
      minPage: 1,
      graph: {},
      errorSubTickets: [],

      graphicSize: 1
    }
  },
  methods: {
    onResize() {
      const graphicContainer = this.$refs.container.querySelector(".graphicContainer")
      const graphicSize = graphicContainer ? graphicContainer.clientWidth / 38 : 0
      this.graphicSize = graphicSize
    },
    subError(ticket) {
      this.errorSubTickets.push(ticket)
    },
    updateTicket(ticket, price) {
      this.tickets.forEach(ticketItr => {
        if (ticketItr.name === ticket) {
          if (typeof this.graph[ticket] === 'undefined') {
            this.graph[ticket] = []
          }
          if (price) {

            if (this.graph[ticket].length > this.graphicSize) {
              let difference = this.graph[ticket].length - this.graphicSize
              this.graph[ticket] = [...this.graph[ticket].slice(difference)]
              this.graph[ticket] = [...this.graph[ticket], price]
            } else {
              this.graph[ticket] = [...this.graph[ticket], price]
            }
            ticketItr.price = price

          }
        }
      })

      this.updateSharedWorker()
    },
    updateSharedWorker() {
      worker.port.postMessage({flag: "start", tickets: JSON.stringify([...this.tickets])});
    },
    /**
     * HANDLE EMITS
     */
    handleCloseSelectedTicket() {
      this.selectedTicket = null
    },
    handleIncrementPage() {
      this.page++
    },
    handleDecrementPage() {
      this.page--
    },
    handleChangeFilter(filterValue) {
      this.filter = filterValue
    },
    handleDeleteTicket(ticketToRemove) {

      this.checkIsDeletedTicketBeenSelected(ticketToRemove)
      this.tickets = this.tickets.filter(ticket => ticket.name !== ticketToRemove.name)
      unsubscribeTicket(ticketToRemove.name)

    },
    handleSelectTicket(selectedTicket) {
      if (this.checkIsSelectedTicketDoubleTime(selectedTicket)) {
        return
      }
      this.selectedTicket = {...selectedTicket}
    },

    /**
     * UTILS
     */
    coinsFiltersMethod(coin, filter) {
      const coinName = coin.name.toLowerCase()
      const filterVal = filter.toLowerCase()
      const oneCheck = coinName.includes(filterVal)
      if (!filterVal) {
        return true
      }
      return oneCheck
    },
    checkIsDeletedTicketBeenSelected(ticketToRemove) {
      if (this.selectedTicket && this.selectedTicket.name === ticketToRemove.name) {
        this.selectedTicket = null
      }
    },
    checkIsSelectedTicketDoubleTime(selectedTicket) {
      if (this.selectedTicket && selectedTicket.name === this.selectedTicket.name) {
        this.handleCloseSelectedTicket()
        return true
      }
    },
    addTicket(ticketToAdd) {
      this.tickets = [...this.tickets, ticketToAdd]
      subscribeTicket(ticketToAdd.name, this.updateTicket)
    },
    checkIsTwoStrIsEqual(str1, str2) {
      return str1.toLowerCase() === str2.toLowerCase()
    },
  },
  watch: {
    tickets: function () {
      saveToLocal(JSON.stringify(this.tickets))
    },
    pageStateOptions(value) {
      window.history.pushState(
          null,
          document.title,
          `${window.location.pathname}?filter=${value.filter}&page=${value.page}`
      )
    },
    normalizedGraph() {
      const graphicContainer = this.$refs.container.querySelector(".graphicContainer")
      const graphicSize = graphicContainer ? graphicContainer.clientWidth / 38 : 0
      this.graphicSize = graphicSize
    },
    graphicSize() {
      const ticketName = this.selectedTicket?.name
      if (this.selectedTicket && this.graph[ticketName]) {
        if (this.graph[ticketName].length > this.graphicSize) {
          let difference = this.graph[ticketName].length - this.graphicSize
          this.graph[ticketName] = [...this.graph[ticketName].slice(difference)]
        }
      }
    }
  },
  computed: {
    allCoinsKeys() {
      return Object.keys(this.allCoins)
    },
    filteredTickets() {
      return this.tickets
          .filter(coin => this.coinsFiltersMethod(coin, this.filter))
    },
    maxPage() {
      return Math.ceil(this.tickets.length / this.countOfCoinsOnPage)
    },
    ticketsPageStore() {
      let ticketsOnPage = {}
      for (let i = 0; i < this.maxPage; i++) {
        ticketsOnPage[i + 1] = this.tickets.slice(i * this.countOfCoinsOnPage, (i + 1) * this.countOfCoinsOnPage)
      }
      if (!ticketsOnPage[this.page]) {
        if (this.page !== this.minPage) {
          this.page--
        }
      }
      return ticketsOnPage
    },
    normalizedGraph() {
      const selectedTicket = this.selectedTicket
      const selectedTicketName = this.selectedTicket?.name
      if (selectedTicket && this.graph[selectedTicketName]) {
        const minValue = Math.min(...this.graph[selectedTicketName])
        const maxValue = Math.max(...this.graph[selectedTicketName])
        return this.graph[selectedTicketName].map(price =>
            5 + ((price - minValue) * 95) / (maxValue - minValue)
        )
      }
      return []
    },
    pageStateOptions() {
      return {
        filter: this.filter,
        page: this.page
      };
    }

  }
}
</script>